<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Rewards and Recognitions</h1>
    </div>
    <div class="row">
        <div class="col-md-3">
            <!-- Profile Image -->
            <div class="card shadow mb-4">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="award-illu rounded-circle"
                            src="./../../../assets/illustrations/undraw_winners_ao2o.svg" alt="User award picture">
                    </div>
                    <div>
                        <h3 class="profile-username text-center">My Awards</h3>
                        <div>
                            <ul>
                                <li>Nakshatra Award (Q3 - 2020)</li>
                                <li>Navaratna Award (Q2 - 2019)</li>
                                <li>ACE Award (Q2 - 2019)</li>
                            </ul>
                        </div>
                    </div>

                    <div style="text-align: center;">
                        <button class="btn btn-primary btn-sm">More ...</button>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card shadow mb-4">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="award-illu rounded-circle"
                            src="./../../../assets/illustrations/undraw_Popular_re_mlfe.svg"
                            alt="User Nominations picture">
                    </div>
                    <div>
                        <h3 class="profile-username text-center">My Nominations</h3>
                        <div>
                            <ul>
                                <li>Nakshatra Award (Q2 - 2019)</li>
                                <li>Navaratna Award (Q2 - 2019)</li>
                                <li>ACE Award (Q2 - 2019)</li>
                            </ul>
                        </div>
                    </div>

                    <div style="text-align: center;">
                        <button class="btn btn-primary btn-sm">More ...</button>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>


        </div>

        <div class="col-md-6">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">My Rewards</h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <img class="award-illu rounded-circle"
                                src="./../../../assets/illustrations/undraw_happy_birthday_s72n.svg"
                                alt="User award picture">
                        </div>
                        <div class="col-md-6">
                            <h1 class="m-0 font-weight-bold text-primary"><strong><i class="fa fa-inr"></i>
                                    1050
                                </strong>
                            </h1>
                        </div>
                        <div class="col-md-3">
                            <div style="text-align: center;">
                                <button class="btn btn-primary">Redeem</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div>
                        <strong><i class="fa fa-info-circle"></i> want to know more about how rewads works <a
                                href="#">Click Here</a> for guidelines.</strong>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Special Appreciation Received</h6>
                </div>
                <div class="card-body">

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="complted" role="tabpanel" aria-labelledby="home-tab">
                            <table class="table table-striped projects">
                                <thead>
                                    <th>#</th>
                                    <th>Appreciatiion From</th>
                                    <th>Points Earned</th>
                                    <th>Rating</th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>Ajith</td>
                                        <td>1000</td>
                                        <td>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div>
                                <span>
                                    <p class="pull-right">Total Pointes Earned : <b>1000</b> </p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow mb-4">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="award-illu rounded-circle"
                            src="./../../../assets/illustrations/undraw_gift_card_6ekc.svg" alt="User award picture">
                    </div>
                    <div>
                        <h3 class="profile-username text-center">Appreciate a Peer!</h3>
                    </div>
                    <br />
                    <div class="col-sm-12">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Peer 1</option>
                                <option>Peer 2</option>
                                <option>Peer 3</option>
                                <option>Peer 4</option>
                                <option>Peer 5</option>
                            </select>
                        </div>
                    </div>
                    <div style="text-align: center;">
                        <button class="btn btn-primary">Send Appreciation</button>
                    </div>

                </div>
                <!-- /.card-body -->
            </div>
        </div>

    </div>
    <!-- /.row -->
</div><!-- /.container-fluid -->