<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Career Map</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Career Map</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


<div class="timeline">
    <div class="container left">
      <div class="content">
        <h2>2017</h2>
        <p>Lorem ipsum..</p>
      </div>
    </div>
    <div class="container right">
      <div class="content">
        <h2>2016</h2>
        <p>Lorem ipsum..</p>
      </div>
    </div>
    <div class="container left">
        <div class="content">
          <h2>2015</h2>
          <p>Lorem ipsum..</p>
        </div>
      </div>
</div>