<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="card shadow mb-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Career map</h6>
        </div>
        <div class="card-body">
          <form class="form-inline">
            <div class="form-group">
              <span style="padding-left: 18px; padding-right: 4px;"><label for="disabledTextInput">Current
                  Role:</label></span>
              <input type="text" id="disabledTextInput" class="form-control" placeholder="System Specialist">
            </div>
            <div class="form-group">
              <span style="padding-left: 18px; padding-right: 4px;"><label for="disabledTextInput">Desired
                  Role:</label></span>
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose...</option>
                <option value="1">Sr. System Specialist</option>
                <option value="2">Solutions Architect</option>
                <option value="3">Project Manager</option>
              </select>
            </div>
            <span style="padding-left: 18px; padding-right: 4px;">
              <button type="submit" class="btn btn-primary mb-2">Explore</button>
            </span>
          </form>
        </div>
      </div>

    </div>
  </div>
  <h1 class="h3 mb-0 text-gray-800 text-center">System Specialist</h1>
  <br />

  <div class="row" style="margin-left: 20px; margin-right: 20px;">
    <div class="col-md-6">
      <div class="timeline">
        <div class="container left">
          <div class="content">
            <h2>System Analyst</h2>
            <p class="text-muted  m-b-0">SQL, Orcale</p>
            <p class="text-muted  m-b-0">Java, .net</p>
            <p class="text-muted ">Unified Modelling Language (UML)</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>Senior Software Developer</h2>
            <p class="text-muted  m-b-0">SQl,Oracle</p>
            <p class="text-muted  m-b-0">java,.net,javascript,HTML/CSS,Typescript </p>
            <p class="text-muted ">git, jenkins</p>
          </div>
        </div>
        <div class="container left">
          <div class="content">
            <h2>Software Developer</h2>
            <p class="text-muted  m-b-0">MYSQL</p>
            <p class="text-muted  m-b-0">PHP,HTML,Javascript</p>
            <p class="text-muted "></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="border-left: #dcdbdb94 solid 10px;">
      <div class="card-body what-next">
        <a href="">
            <img style="height: 480px;" src="./../../../assets/img/career.PNG" alt="">
        </a>
      </div>
    </div>
  </div>

</div>