<div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Explore Career Path</h1>
    </div>
    <div class="alert alert-info" role="alert">
        Please choose a desired role and click <span>Explore</span> to see your Career Path!
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <span style="padding-left: 18px; padding-right: 4px;"><label for="disabledTextInput">Current
                                    Role:</label></span>
                            <input type="text" id="disabledTextInput" class="form-control"
                                placeholder="System Specialist">
                        </div>
                        <div class="form-group">
                            <span style="padding-left: 18px; padding-right: 4px;"><label for="disabledTextInput">Desired
                                    Role:</label></span>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect"
                                [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}">
                                <option selected>Choose...</option>
                                <option [value]="1">Sr. System Specialist</option>
                                <option [value]="2">Solutions Architect</option>
                                <option [value]="3">Project Manager</option>
                            </select>
                        </div>
                        <span style="padding-left: 18px; padding-right: 4px;">
                            <button type="button" class="btn btn-primary mb-2"
                                (click)="exploreCareerPath()">Explore</button>
                        </span>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="row" style="margin-left: 20px; margin-right: 20px;" *ngIf="defaultView">
        <h1 class="h3 mb-0 text-gray-800">You are here</h1>
        <div class="col-md-12">
            <div class="timeline">
                <div class="container left">
                    <div class="content">
                        <h2>System Specialist</h2>
                        <div class="text-muted  m-b-0">SQL, Orcale</div>
                        <div class="text-muted  m-b-0">Java, J2EE, AngularJs, Seam, JSP</div>
                        <div class="text-muted ">Unified Modelling Language (UML)</div>
                    </div>
                </div>
                <div class="container right">
                    <div class="content">
                        <h2>Senior Software Developer</h2>
                        <div class="text-muted  m-b-0">SQl, Oracle</div>
                        <div class="text-muted  m-b-0">J2EE, JavaScript, HTML/CSS, Typescript </div>
                        <div class="text-muted ">git, jenkins</div>
                    </div>
                </div>
                <div class="container left">
                    <div class="content">
                        <h2>Software Developer</h2>
                        <div class="text-muted  m-b-0">MYSQL, Java</div>
                        <div class="text-muted  m-b-0">PHP, HTML, Javascript</div>
                        <div class="text-muted "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 class="h3 mb-0 text-gray-800" *ngIf="!defaultView">Your Career Path to {{role}}</h1>
    <div class="col-md-12" *ngIf="srSysSpecialist">
        <div class="card-body what-next">
            <a href="">
                <img style="height: 480px;" src="./../../../assets/img/career-1.PNG" alt="">
            </a>
        </div>
    </div>
    <div class="col-md-12" *ngIf="solutionArchitect">
        <div class="card-body what-next">
            <a href="">
                <img style="height: 480px;" src="./../../../assets/img/career-2.PNG" alt="">
            </a>
        </div>
    </div>
    <div class="col-md-12" *ngIf="projectMananger">
        <div class="card-body what-next">
            <a href="">
                <img style="height: 480px;" src="./../../../assets/img/career-3.PNG" alt="">
            </a>
        </div>
    </div>

</div>