<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Certifications</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Certifications</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Team Certifications</h6>
                        </div>
                        <div class="card-body">
                                <p>Would you like to suggest a certfication for your team?</p><br>
                                <div class="row">
                                        <div class="form-group col-md-4">
                                                <input type="text" class="form-control" placeholder="Enter certification name"/>
                                                
                                        </div>
                                        <div class="col-md-2">
                                                <button class="btn btn-sm btn-primary">Send to manager</button>  
                                        </div>
                                </div>
                                
                           <div style="margin-top:2%;">
                                <table class="table table-striped projects">
                                        <thead>
                                            <th>#</th>
                                            <th>Name of certification</th>
                                            <th>Duration(In Months)</th>
                                            <th>Actions</th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Insurance Domain Certification</td>
                                                <td>6 months</td>
                                                <td>
                                                    <span>
                                                        <button class="btn btn-sm btn-primary">View More</button>
                                                    </span>
                                                    <span>
                                                        <button class="btn btn-sm btn-primary">Apply</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Data Analytics</td>
                                                <td>6 months</td>
                                                <td>
                                                    <span>
                                                        <button class="btn btn-sm btn-primary">View More</button>
                                                    </span>
                                                    <span>
                                                        <button class="btn btn-sm btn-primary">Apply</button>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Agile Certification</td>
                                                <td>12 months</td>
                                                <td>
                                                    <span>
                                                        <button class="btn btn-sm btn-primary">View More</button>
                                                    </span>
                                                    <span>
                                                        <button class="btn btn-sm btn-primary">Apply</button>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                           </div>
                           
                            
                        </div>
                    </div>
                    <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Your Certifications</h6>
                            </div>
                            <div class="card-body">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            <li class="nav-item">
                                              <a class="nav-link active" id="home-tab" data-toggle="tab" href="#complted" role="tab" aria-controls="home"
                                                aria-selected="true">Completed</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link" id="profile-tab" data-toggle="tab" href="#upcoming" role="tab" aria-controls="profile"
                                                aria-selected="false">Upcoming</a>
                                            </li>
                                           
                                          </ul>
                                          <div class="tab-content" id="myTabContent">
                                            <div class="tab-pane fade show active" id="complted" role="tabpanel" aria-labelledby="home-tab">
                                                    <table class="table table-striped projects">
                                                            <thead>
                                                                <th>#</th>
                                                                <th>Name of certification</th>
                                                                <th>Duration(In Months)</th>
                                                                <th>completed On</th>
                                                                <th>Mark Scored</th>
                                                                <th>Points Earned</th>
                                                                <th>Rating</th>
                                                                <th>Actions</th>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>AWS Architecture</td>
                                                                    <td>6 months</td>
                                                                    <td>20/10/2020</td>
                                                                    <td>100%</td>
                                                                    <td>1000</td>
                                                                    <td>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>

                                                                    </td>
                                                                    <td>
                                                                        <span>
                                                                            <button class="btn btn-sm btn-primary">View More</button>
                                                                        </span>
                                                                       
                                                                    </td>
                                                                </tr>
                                                               
                                                            </tbody>
                                                        </table>
                                                        <div>
                                                            
                                                           <span>
                                                                <button class="btn btn-sm btn-success pull-right">Redeem points</button>
                                                           </span>
                                                           <span>
                                                                <p class="pull-right">Total Pointes Earned : <b>1000</b> </p>
                                                           </span> 
                                                            
                                                        </div>
                                            </div>
                                            <div class="tab-pane fade" id="upcoming" role="tabpanel" aria-labelledby="profile-tab">
                                                    <table class="table table-striped projects">
                                                            <thead>
                                                                <th>#</th>
                                                                <th>Name of certification</th>
                                                                <th>Duration(In Months)</th>
                                                                <th>Reward Points</th>
                                                                <th>Rating</th>
                                                                <th>Actions</th>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td>1</td>
                                                                    <td>Azure Architecture</td>
                                                                    <td>6 months</td>
                                                                    <td>800</td>
                                                                    <td>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                            <i class="fas fa-star"></i>
                                                                         

                                                                    </td>
                                                                    <td>
                                                                        <span>
                                                                            <button class="btn btn-sm btn-primary">Apply</button>
                                                                        </span>
                                                                       
                                                                    </td>
                                                                </tr>
                                                               
                                                            </tbody>
                                                        </table>
                                            </div>
                                            
                                          </div>
                                    
                            </div>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
</div>