<!-- Page Wrapper -->
<div id="wrapper">
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <!-- Topbar -->
            <app-header></app-header>


            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Mandatory Header Part ends -->

<p>Add content here!</p>


                <!-- Mandatory Footer Part starts -->


            </div>
            <!-- /.container-fluid -->


        </div>
        <!-- End of Main Content -->
        <app-footer></app-footer>
    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->