  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Explore Career Paths</h6>
    </div>
    <div class="card-body"></div>
    <form class="form-inline">
        <div class="form-group">
            <span style="padding-left: 18px; padding-right: 4px;"><label for="disabledTextInput">Current Role:</label></span>
            <input type="text" id="disabledTextInput" class="form-control" placeholder="System Specialist">
        </div>
        <div class="form-group">
            <span style="padding-left: 18px; padding-right: 4px;"><label for="disabledTextInput">Desired Role:</label></span>
            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
              <option selected>Choose...</option>
              <option value="1">Sr. System Specialist</option>
              <option value="2">Solutions Architect</option>
              <option value="3">Project Manager</option>
            </select>
          </div>
          <span style="padding-left: 18px; padding-right: 4px;">
            <button type="submit" class="btn btn-primary mb-2">Explore</button>
          </span>
      </form>
      <div class="card shadow mb-4">
        <div class="card-body what-next">
            <a href="">
                <img style="height: 500px;" src="./../../../assets/img/career.PNG" alt="">
            </a>
        </div>
    </div>
</div>