<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Learnings (Monthly)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">12 hours</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Learnings (Annual)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">70 hours</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Profile
                                Completion
                            </div>
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">80%</div>
                                </div>
                                <div class="col">
                                    <div class="progress progress-sm mr-2">
                                        <div class="progress-bar bg-info" role="progressbar" style="width: 80%"
                                            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Open IJPs</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">18</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Skillset</h6>
                </div>
                <div class="card-body">
                    <h4 class="small font-weight-bold">Angular <span class="float-right">8/10</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Java / J2EE <span class="float-right">4.5/10</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-warning" role="progressbar" style="width: 45%" aria-valuenow="45"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Insurance Domain Competency <span class="float-right">6/10</span>
                    </h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-info" role="progressbar" style="width: 60%" aria-valuenow="60"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">Leadership skills <span class="float-right">2/10</span></h4>
                    <div class="progress mb-4">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h4 class="small font-weight-bold">HTML / CSS <span class="float-right">10/10</span>
                    </h4>
                    <div class="progress">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                            aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Certifications and Achievements</h6>
                </div>
                <div class="card-body certification-achiev">
                    <!-- Color System -->
                    <div class="row">
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-primary text-white shadow">
                                <div class="card-body p-sm">
                                    <div class="float-left p-r-1">
                                        <img class="img-certification rounded-circle"
                                            src="./../../../assets/img/ocjp.png">

                                    </div>
                                    OCJP
                                    <div class="text-white-50 small">Oracle Certification for Java Programmer</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-success text-white shadow">
                                <div class="card-body p-sm reward">
                                    <div class="float-left p-r-1">
                                        <img class="img-certification rounded-circle"
                                            src="./../../../assets/img/rewards.png">

                                    </div>
                                    <img class="img-reward rounded-circle" src="./../../../assets/img/star.png">
                                    <img class="img-reward rounded-circle" src="./../../../assets/img/star.png">
                                    <img class="img-reward rounded-circle" src="./../../../assets/img/star.png">
                                    <div class="text-white-50 small"> Nakshatra - Q2, 2020</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-info text-white shadow">
                                <div class="card-body p-sm">
                                    <div class="float-left p-r-1">
                                        <img class="img-certification rounded-circle"
                                            src="./../../../assets/img/azure.png">

                                    </div>
                                    AZ-900
                                    <div class="text-white-50 small">Azure Fundamentals Certification</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-warning text-white shadow">
                                <div class="card-body p-sm reward">
                                    <div class="float-left p-r-1">
                                        <img class="img-certification rounded-circle"
                                            src="./../../../assets/img/rewards.png">
                                    </div>
                                    <img class="img-reward rounded-circle" src="./../../../assets/img/star.png">
                                    <div class="text-white-50 small">Spot Award - Q4, 2019</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-danger text-white shadow">
                                <div class="card-body p-sm">
                                    <div class="float-left p-r-1">
                                        <img class="img-certification rounded-circle"
                                            src="./../../../assets/img/aws-dev.png">
                                    </div>
                                    AWS Developer
                                    <div class="text-white-50 small">AWS Certified Developer - Associate</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-4">
                            <div class="card bg-secondary text-white shadow">
                                <div class="card-body p-sm reward">
                                    <div class="float-left p-r-1">
                                        <img class="img-certification rounded-circle"
                                            src="./../../../assets/img/rewards.png">
                                    </div>
                                    <img class="img-reward rounded-circle" src="./../../../assets/img/star.png">
                                    <img class="img-reward rounded-circle" src="./../../../assets/img/star.png">
                                    <div class="text-white-50 small">Testimonial - Head of IT</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <a style="float: right;" target="_blank" rel="nofollow" href="https://undraw.co/">More
                                &rarr;</a>
                        </div>
                        <div class="col-lg-6">
                            <a style="float: right;" target="_blank" rel="nofollow" href="https://undraw.co/">More
                                &rarr;</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-4">

            <!-- Illustrations -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Testimonials</h6>
                </div>
                <div class="card-body">
                    <p style="margin-bottom: 0rem;">I will admit - originally the thought of implementing
                        the <a target="_blank" rel="nofollow" href="https://undraw.co/">project</a> scared
                        the hell out of me. As a business owner I am used to control and always having my
                        finger on the pulse of my employees and contractors.
                        Douglas has delivered great results and has convinced me of the value of
                        implementing.
                        <br /><br />
                        In the beginning of the relationship between us, there were times when it was
                        difficult to communicate but if you can just get through the first week or so
                        everything starts to come together.
                        I have really enjoyed working with Douglas, he is a great team player and can really
                        deliver outstanding results. I would be proud to have him on my team.
                    </p>
                    <div class="text-center" style="float: left;">
                        <img class="img-fluid px-3 px-sm-4 mt-3 mb-4 rounded-circle" style="width: 9rem;"
                            src="./../../../assets/img/user1-128x128.jpg" alt="">
                    </div><br /><br />
                    <div style="float: right;">Leonardo Souse,<br />
                        Head of Digital Marketing
                        <br /><br />
                        <a style="float: right;" target="_blank" rel="nofollow" href="https://undraw.co/">More
                            &rarr;</a></div>
                </div>
            </div>

            <!-- Approach -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">News Corner</h6>
                </div>
                <div class="card-body">
                    <p>All new Career Accelerator is available now!</p>
                    <p class="mb-0">Before working with this application, do try the application walkthrough
                        to know all the possiblities and functionalities of the portal.</p>
                </div>
            </div>

        </div>
    </div>

    <!-- Mandatory Footer Part starts -->


</div>
<!-- /.container-fluid -->