.certification-achiev {
    .p-r-1 {
        padding-right: 10px;
    }
    .img-certification {
        width: 46px;
        height: 46px;
        margin-top: 8px;
    }
    .img-reward {
        width: 29px;
        height: auto;
        margin-top: 8px;
    }
    .card-body {
        &.p-sm {
            padding: .65rem;
            &.reward {
                padding: .9rem;
            }
        }
    }
}
.what-next {
    img {
        width: 100%;
        height: auto;
    }
    .find-your-skill {
        display: block;
        top: 191px;
        position: absolute;
        font-size: 70px;
        color: #bd9605;
        font-weight: 100;
        text-decoration: none;
        padding-left: 18px;
    }
}


.comment-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}

.comment-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}

.modal-dialog {
    position: absolute;
    bottom: -14px;
    right: 12px;
}

.modal-content {
    margin: 4px;
}

.media-list {
    padding: 11px 11px 0px 11px;
    .media {
        a {
            padding-right: 7px;
        }
    }
}

.comment-entry {
    padding: 0px 11px 0px 11px;
}

.float-bottom-right {
    position: fixed;
    right: 9px;
    bottom: 18px;
}

.float-button {
    position: fixed;
    right: -77px;
    top: 270px;
    transition: all 0.2s ease-in 0s;//this is the key attribute
    z-index: 9999;
    cursor: pointer;
}