.certification-achiev {
    .p-r-1 {
        padding-right: 10px;
    }
    .img-certification {
        width: 46px;
        height: 46px;
        margin-top: 8px;
    }
    .img-reward {
        width: 29px;
        height: auto;
        margin-top: 8px;
    }
    .card-body {
        &.p-sm {
            padding: .65rem;
            &.reward {
                padding: .9rem;
            }
        }
    }
}
.what-next {
    img {
        width: 100%;
        height: auto;
    }
    .find-your-skill {
        display: block;
        top: 191px;
        position: absolute;
        font-size: 70px;
        color: #bd9605;
        font-weight: 100;
        text-decoration: none;
        padding-left: 18px;
    }
}